DesignTemplate/UISample/UISample/Service References/ServiceReference1/Service1232.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50002/UISampleSite/Service123.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetVocabulary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVocabularyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVocabularyResult" nillable="true" type="q1:ArrayOfVOCABULARY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>