SourceCode/Final/UISample_Test - Copy/UISample_Test/UISample/Service References/VocabularyServiceReference/VocabularyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVOCABULARY">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VOCABULARY" nillable="true" type="tns:VOCABULARY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVOCABULARY" nillable="true" type="tns:ArrayOfVOCABULARY" />
  <xs:complexType name="VOCABULARY">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Voc" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Unit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Skill" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Voice_Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VOCABULARY" nillable="true" type="tns:VOCABULARY" />
</xs:schema>