SourceCode/Final/UISample_Test - Copy/UISample_Test/UISample/Service References/VocabularyServiceReference/VocabularyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="VocabularyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52690/UISampleSite/VocabularyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52690/UISampleSite/VocabularyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52690/UISampleSite/VocabularyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVocabularyService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IVocabularyService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabularyService_GetVocabulary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVocabulary" />
  </wsdl:message>
  <wsdl:message name="IVocabularyService_GetVocabulary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVocabularyResponse" />
  </wsdl:message>
  <wsdl:portType name="IVocabularyService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabularyService/DoWork" message="tns:IVocabularyService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabularyService/DoWorkResponse" message="tns:IVocabularyService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVocabulary">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabularyService/GetVocabulary" message="tns:IVocabularyService_GetVocabulary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabularyService/GetVocabularyResponse" message="tns:IVocabularyService_GetVocabulary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVocabularyService" type="tns:IVocabularyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IVocabularyService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVocabulary">
      <soap:operation soapAction="http://tempuri.org/IVocabularyService/GetVocabulary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VocabularyService">
    <wsdl:port name="BasicHttpBinding_IVocabularyService" binding="tns:BasicHttpBinding_IVocabularyService">
      <soap:address location="http://localhost:52690/UISampleSite/VocabularyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>