SourceCode/Final/UISample_Test - Copy/UISample_Test/UISample/Service References/ReadingServiceReference/Reading_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Reading_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52690/UISampleSite/Reading_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52690/UISampleSite/Reading_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52690/UISampleSite/Reading_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:52690/UISampleSite/Reading_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReading_Service_LayReading_InputMessage">
    <wsdl:part name="parameters" element="tns:LayReading" />
  </wsdl:message>
  <wsdl:message name="IReading_Service_LayReading_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayReadingResponse" />
  </wsdl:message>
  <wsdl:message name="IReading_Service_LayReading_Practice_InputMessage">
    <wsdl:part name="parameters" element="tns:LayReading_Practice" />
  </wsdl:message>
  <wsdl:message name="IReading_Service_LayReading_Practice_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayReading_PracticeResponse" />
  </wsdl:message>
  <wsdl:message name="IReading_Service_GetReading_PracticeContents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReading_PracticeContents" />
  </wsdl:message>
  <wsdl:message name="IReading_Service_GetReading_PracticeContents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReading_PracticeContentsResponse" />
  </wsdl:message>
  <wsdl:message name="IReading_Service_GetReading_Audio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReading_Audio" />
  </wsdl:message>
  <wsdl:message name="IReading_Service_GetReading_Audio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReading_AudioResponse" />
  </wsdl:message>
  <wsdl:portType name="IReading_Service">
    <wsdl:operation name="LayReading">
      <wsdl:input wsaw:Action="http://tempuri.org/IReading_Service/LayReading" message="tns:IReading_Service_LayReading_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReading_Service/LayReadingResponse" message="tns:IReading_Service_LayReading_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayReading_Practice">
      <wsdl:input wsaw:Action="http://tempuri.org/IReading_Service/LayReading_Practice" message="tns:IReading_Service_LayReading_Practice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReading_Service/LayReading_PracticeResponse" message="tns:IReading_Service_LayReading_Practice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReading_PracticeContents">
      <wsdl:input wsaw:Action="http://tempuri.org/IReading_Service/GetReading_PracticeContents" message="tns:IReading_Service_GetReading_PracticeContents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReading_Service/GetReading_PracticeContentsResponse" message="tns:IReading_Service_GetReading_PracticeContents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReading_Audio">
      <wsdl:input wsaw:Action="http://tempuri.org/IReading_Service/GetReading_Audio" message="tns:IReading_Service_GetReading_Audio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReading_Service/GetReading_AudioResponse" message="tns:IReading_Service_GetReading_Audio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReading_Service" type="tns:IReading_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayReading">
      <soap:operation soapAction="http://tempuri.org/IReading_Service/LayReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayReading_Practice">
      <soap:operation soapAction="http://tempuri.org/IReading_Service/LayReading_Practice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReading_PracticeContents">
      <soap:operation soapAction="http://tempuri.org/IReading_Service/GetReading_PracticeContents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReading_Audio">
      <soap:operation soapAction="http://tempuri.org/IReading_Service/GetReading_Audio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reading_Service">
    <wsdl:port name="BasicHttpBinding_IReading_Service" binding="tns:BasicHttpBinding_IReading_Service">
      <soap:address location="http://localhost:52690/UISampleSite/Reading_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>