SourceCode/Final/UISample_Test - Copy/UISample_Test/UISample/Service References/SpeakingServiceReference/SpeakingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSPEAKING">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SPEAKING" nillable="true" type="tns:SPEAKING" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSPEAKING" nillable="true" type="tns:ArrayOfSPEAKING" />
  <xs:complexType name="SPEAKING">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Unit" type="xs:int" />
      <xs:element minOccurs="0" name="Suggestion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SPEAKING" nillable="true" type="tns:SPEAKING" />
</xs:schema>