trunk/SourceCode/Final/UISample_Test - Copy/UISample_Test/UISample/Service References/ReadingServiceReference/Reading_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52690/UISampleSite/Reading_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:52690/UISampleSite/Reading_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LayReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Unit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LayReadingResult" nillable="true" type="q1:ArrayOfREADING" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayReading_Practice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Unit" type="xs:int" />
        <xs:element minOccurs="0" name="Task" type="xs:int" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayReading_PracticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LayReading_PracticeResult" nillable="true" type="q2:ArrayOfREADING_PRACTICE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReading_PracticeContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Unit" type="xs:int" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReading_PracticeContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReading_PracticeContentsResult" nillable="true" type="q3:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReading_Audio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Unit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReading_AudioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReading_AudioResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>