SourceCode/Final/UISample_Test - Copy/UISample_Test/UISample/Service References/WritingServiceReference/Writing_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWRITING">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WRITING" nillable="true" type="tns:WRITING" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWRITING" nillable="true" type="tns:ArrayOfWRITING" />
  <xs:complexType name="WRITING">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Unit" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Task" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Ques" type="xs:int" />
      <xs:element minOccurs="0" name="Ques" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ans" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WRITING" nillable="true" type="tns:WRITING" />
</xs:schema>